{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Madde22 ŞİFRE SIFIRLAMA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<body>

<div class="container">
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

       <img src="/media/images/tik.png" width="50%" height="50%" alt="" class="img" />
          <p  style="text-align: center;color: red">Şifreniz başarılı bir şekilde değiştirildi</p>
      <p style="text-align: center;color: red"> <a href="{{ROOT}}/login/">Yeni Şifreniz İle giriş yapabilirsiniz.</a></p>
  </div>
    <div class="col-md-3"></div>
</div>
</div>
</body>
</html>