<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="560" class="socialDiv">
            <tbody>
                <tr>
                    <td width="280">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="280" class="table5">
                            <tbody>
                                <tr>
                                    <td align="center">madde22 Sosyal Medyalar</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="170" class="table5" class="marginTop3">
                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="170" style="margin-top: 1rem" class="table5">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left">
                                                                        <a border="0" href="{{ madde22_FACEBOOK }}" class="socialImg" target="_blank" data-link-id="14" rel="noopener noreferrer">
                                                                            <img src="https://image.madde22.com/images/20221222/image/thumbnail_2022_12_22_13_31_31_file.png" width="35" height="35" data-max-width="30" alt='facebook' />
                                                                        </a>
                                                                    </td>
                                                                    <td align="left">
                                                                        <a border="0" href="{{ madde22_TWITTER }}" class="socialImg" target="_blank" data-link-id="15" rel="noopener noreferrer">
                                                                            <img src="https://image.madde22.com/images/20221222/image/thumbnail_2022_12_22_13_30_37_file.png" width="35" height="35" data-max-width="30" alt='twitter' />
                                                                        </a>
                                                                    </td>
                                                                    <td align="left">
                                                                        <a border="0" href="{{ madde22_INSTAGRAM }}" class="socialImg" target="_blank" data-link-id="16" rel="noopener noreferrer">
                                                                            <img src="https://image.madde22.com/images/20221222/image/thumbnail_2022_12_22_13_30_07_file.png" width="35" height="35" data-max-width="30" alt='instagram' />
                                                                        </a>
                                                                    </td>
                                                                    <td align="left">
                                                                        <a border="0" href="{{ madde22_PINTEREST }}" class="socialImg" target="_blank" data-link-id="17" rel="noopener noreferrer">
                                                                            <img src="https://image.madde22.com/images/20221222/image/thumbnail_2022_12_22_13_30_58_file.png" width="35" height="35" data-max-width="30" alt='pinterest' />
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="560" class="table5">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center"> İletişim: <br> Madde-22 <span class="wmi-callto">
                        <a style="text-decoration:none;color:#181818;" href="tel:+90 (212) 243 28 13">0 850 307 05 35</a></span>

                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>